---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Main from '../components/Main.astro';
import Info from '../components/Info.astro';
import FeaturedProducts from '../components/FeaturedProducts.astro';
import Motivos from '../components/Motivos.astro';
import Faq from '../components/Faq.astro';
import Footer from '../components/Footer.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---


<Layout>
  <div class="w-full overflow-x-hidden">
    <main class="w-[90vw] max-w-[1400px] bg-cream mx-auto flex flex-col mt-4">
      <Main/>
    </main>
    <main class="w-full h-full bg-ivory" id="About">
      <div class="w-[90vw] max-w-[1400px] mx-auto">
        <Info/>
      </div>
    </main>
    
    <!-- Sección de productos destacados -->
    <main class="w-full h-full bg-cream">
      <FeaturedProducts/>
    </main>
  
    <div class="w-[90vw] max-w-[1400px] mx-auto">
      <Motivos/>
    </div>
    <div class="w-[90vw] max-w-[1400px] mx-auto">
      <Faq/>
    </div>
    <Footer/>
  </div>
</Layout>


