---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Main from '../components/Main.astro';
import Info from '../components/Info.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
<main class="w-[85vw] max-md:w-[75%] bg-[#111111]  m-auto flex flex-col  mt-10">
 <Nav/>
 <Main/>
</main>
<main class="w-full h-full bg-black" id="About">
  <Info/>
</main>
</Layout>


