---
import Cards from './Cards.astro';
---
<main class="w-[85vw] max-md:w-[75%]  m-auto flex flex-col mt-10 gap-40">
  <section class="flex justify-between items-center mt-24">
    <article class="flex flex-col gap-3 relative">
      <h2 class="text-[#d5f904] text-2xl">Top Filigrana</h2>
      <h1 class="text-white text-5xl">VENDIDOS</h1>
      <img class="w-44 absolute left-56 top-24" src="/absolute.png" alt="Decoración filigrana">
    </article>
    <article>
      <p class="text-gray-400">
        Descubre las piezas de filigrana más vendidas y apreciadas por nuestros clientes.<br>
        Artesanía peruana de Catacaos, calidad y tradición en cada joya.
      </p>
    </article>
    <article class="flex gap-7">
      <button class="rounded-2xl shadow shadow-white p-5"><img class="w-11" src="/right.svg" alt="Siguiente"></button>
      <button class="rounded-2xl bg-white p-5 shadow shadow-white"><img class="w-11" src="/left.svg" alt="Anterior"></button>
    </article>
  </section>
<section class="flex items-center  justify-center w-full"><Cards/></section>
  
</main>
