<main class="flex flex-col gap-5 text-white mt-10">
  <section class="flex flex-col items-center justify-center gap-7">
    <h1 class="max-xl:text-6xl text-8xl flex items-center gap-3 justify-center font-light animate-pulse">
      Filigrana de Catacaos <span class="text-[#D5F904]">*</span>
    </h1>
    <h2 class="font-mono text-5xl max-xl:text-3xl animate-bounce text-center">
      Joyería artesanal peruana hecha a mano
    </h2>
  </section>
  <section class="flex flex-col md:flex-row items-center justify-center gap-10 mt-10 relative w-full">
    <div class="flex flex-col items-center text-center gap-5 relative md:w-1/3 w-full">
      <img class="w-32 h-32 object-cover cursor-pointer hover:scale-110 duration-200 bg-[#171717] rounded-full" src="/AretesGuia.png" alt="Arete de filigrana de Catacaos" />
      <p class="text-gray-400 max-w-xs">
        Apoya el arte local y lleva contigo una joya con historia y tradición.
      </p>
      <img class="w-44 absolute left-56 max-xl:left-32 -top-28 hidden md:block" src="/absolute.png" alt="Decoración filigrana" />
    </div>
    <div class="flex items-center justify-center w-full md:w-1/3 my-8 md:my-0">
      <img class="animate-bounce w-[18rem] h-[18rem] md:w-[30rem] md:h-[30rem] object-contain mx-auto" src="/caballog.png" alt="Filigrana Catacaos pieza principal" />
    </div>
    <ul class="text-white flex flex-col gap-5 [&>li>p]:text-[#D5F904] mt-8 md:mt-0 md:w-1/3 w-full items-center md:items-end">
      <li class="flex flex-col items-center border-b-2 border-b-[#D5F904]">
        <h1 class="flex items-center text-4xl">+100 <img class="w-8" src="/mas.svg" alt="más" /></h1>
        <p class="pb-6">Piezas únicas</p>
      </li>
      <li class="flex flex-col items-center border-b-2 border-b-[#D5F904]">
        <h1 class="flex items-center text-4xl">+20 <img class="w-8" src="/mas.svg" alt="más" /></h1>
        <p class="pb-6">Artesanos</p>
      </li>
      <li>
        <h1 class="flex items-center text-4xl">100% <img class="w-8" src="/mas.svg" alt="más" /></h1>
        <p>Hecho a mano</p>
      </li>
      <li><img class="w-[8rem]" src="/logosmall.png" alt="Logo Filigrana Catacaos" /></li>
    </ul>
  </section>
</main>